@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Porpora;
    src: url("./assets/Porpora-Regular.woff") format("woff");
}

* {
    font-family: Porpora, sans-serif;
}